#topo{
    width: 100%;
    background-color: #73b9ff;
    height: 30px;
}

.largura-site{
    width: 900px;
    margin: auto; /*centraliza na pagina*/
}
#logotipo{
    width: 140px;
    height: 24px;
    float: left;
}
#menu{
    width: auto;
    float: auto;
    height: right;
    margin-top: 8px;
}
#menu a {
    color: rgb(58, 48, 240);
    font-size: 16px;
    text-decoration: none;
    margin-left: 70px;

}
#menu a:hover {
    text-decoration: underline;

}
